* {
    margin: 0;
    padding: 0;
}


/*------------------------------------------------------------------------------------------------------INICIO DE HEADER - NAVEGADOR*/


/* NAVEGADOR*/

.inicio {
    height: 100%;
    background-image: url("https://cdn.euroinnova.edu.es/img/subidasEditor/almacen01-1635977695.webp");
    background-position: center;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
}

.malla {
    background-color: rgba(0, 0, 0, 0.409);
}

.caja-top {
    border-bottom: 1px solid rgba(255, 255, 255, 0.329);
    box-shadow: 0 0 8px rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.889);
}

.contenedor {
    width: 100vh;
    margin: auto;
}

.caja-top .contenedor {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 75px;
}

.menu ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-right: 25px;
}

.menu ul li:not(:last-child) {
    margin-right: 50px;
}

.menu ul li a {
    color: white;
    text-decoration: none;
    letter-spacing: 1px;
    font-size: 20px;
}

.menu #sesion {
    background-color: rgb(44, 193, 219);
    padding: 7px 7px 10px 7px;
    border-radius: 10px;
}

.menu ul li a:hover {
    color: rgb(69, 121, 130);
    text-decoration: underline 5px;
}

.menu #sesion:hover {
    background-color: rgb(44, 193, 219);
    color: rgb(0, 0, 0);
    border-radius: 10px;
    text-decoration: none;
}


/*------------------------------------------------------------------------------------------------------FIN DE HEADER - NAVEGADOR*/


/*------------------------------------------------------------------------------------------------------INICIO DE GENERAL*/

.general {
    background-color: rgba(95, 158, 160, 0);
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.ingreso {
    background-color: rgba(222, 184, 135, 0);
    width: 52%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.mostrador {
    background-color: rgba(255, 255, 255, 0.495);
    width: 47%;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid rgb(32, 0, 108);
    border-radius: 10px;
}


/*------------------------------------------------------------------------------------------------------FIN DE GENERAL*/


/*------------------------------------------------------------------------------------------------------INICIO DE INGRESO DE FORMULARIO*/


/*----------------------------------TITULO PRINCIPAL*/

.tbl-ingreso {
    background-color: #5682ca;
    width: 100%;
}

.titulo {
    background-color: rgb(255, 255, 255);
    width: 100%;
}

.tl-texto {
    width: 70%;
    text-align: center;
}

.tl-texto h1 i {
    color: rgb(0, 0, 0);
    font-size: 35px;
}

.tl-logo {
    width: 30%;
    text-align: center;
}

.tl-logo img {
    width: 65px;
    margin-bottom: 5px;
}


/*----------------------------------TITULO PRINCIPAL*/

#formulario {
    background-color: rgba(158, 174, 176, 0);
    width: 100%;
}

.tbl-form {
    background-color: #cacdd2;
    width: 100%;
}

.nombre-form {
    background-color: rgba(0, 255, 255, 0);
    width: 25%;
    color: rgb(0, 0, 0);
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 5px;
}

.campo-form {
    width: 75%;
    padding-top: 3px;
    padding-bottom: 3px;
}

.campo-id {
    width: 100%;
    text-align: center;
}

#ID {
    width: 90%;
    text-align: center;
    margin-top: 5px;
    background-color: darkslategrey;
    color: white;
    border-radius: 30px;
}

#fm-producto,
#ingresoProducto {
    width: 90%;
}

#fm-serial,
#ingresoSerial {
    width: 80%;
}


/*----------------------------------DATOS DE ESPECIFICACIONES*/

.especif {
    width: 98%;
    margin: 7px;
    padding: 7px;
    background-color: rgb(15, 63, 100);
    box-shadow: 0 0 5px rgb(0, 0, 0);
}

.tbl-especif {
    width: 100%;
}

.nombre-form-especif {
    background-color: rgba(0, 255, 255, 0);
    width: 25%;
    color: rgb(255, 255, 255);
    padding-bottom: 5px;
    padding-left: 5px;
}

.campo-form-especif {
    width: 37.5%;
    padding-bottom: 5px;
}

#pr-color,
#pr-tamaño,
#pr-bio,
#ingresoColor,
#ingresoTamaño,
#ingresoBio {
    width: 90%;
}

.campo-form-especif-img {
    background-color: rgba(0, 255, 85, 0);
    width: 37.5%;
    padding-bottom: 5px;
    text-align: center;
}

#pr-img,
#ingresoImg {
    width: 50%;
    position: absolute;
    z-index: -1;
    visibility: hidden;
    font-size: 1px;
}

#txt-img {
    text-align: center;
    width: 90%;
}

.archivo-txt {
    background-color: #c4cedf;
    padding: 7px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    width: 100%;
}

.archivo-txt:hover {
    background-color: #b7bfcc;
}

#fm-mail,
#ingresoMail {
    width: 80%;
}

#fm-proveedor {
    width: 70%;
}

#fm-fecha,
#ingresoFecha,
#ingresoProveedor {
    width: 50%;
}

.btn-form {
    padding: 5px;
    text-align: center;
}


/*------------------------------------------------------------------------------------------------------FIN DE INGRESO DE FORMULARIO*/


/*------------------------------------------------------------------------------------------------------INICIO DE MOSTRADOR DE FORMULARIO*/


/*----------------------------------TITULO PRINCIPAL*/

.form-header {
    width: 100%;
    background-color: rgba(251, 251, 251, 0.718);
    display: flex;
    flex-direction: column;
}

.tl-inv {
    width: 100%;
    text-align: center;
    color: black;
}

.buscador {
    width: 100%;
    display: flex;
    border-bottom: 1px solid black;
}

.buscar {
    width: 70%;
    border-right: 1px solid black;
}

.buscar label {
    font-size: 20px;
    width: 20%;
}

#most-buscador {
    margin: 5px;
    width: 70%;
}

.contar {
    width: 30%;
    text-align: center;
}

#txt-ingreso {
    font-size: 15px;
}

#total-ingresados {
    width: 10%;
    background-color: rgba(255, 255, 255, 0);
    border: 0;
}


/*------------------------------------------------------------------------------------------------------FIN DE ADICIONAL - PROVEEDORES*/

#rack {
    background-color: rgba(255, 255, 255, 0.797);
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
}

#rack tr td {
    border: 1px solid;
    padding: 5px;
}

.botones-rack {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.btn-btn-editar {
    width: 30%;
    height: 30px;
}

.btn-editar {
    width: 15%;
    padding: 2px;
    margin: 2px;
    border: 0;
    display: flex;
    color: green;
}

.btn-editar:hover {
    width: 18%;
}

.btn-editar img {
    width: 100%;
    margin: auto;
}

.btn-btn-eliminar {
    width: 25%;
    height: 30px;
}

.btn-eliminar {
    width: 22%;
    padding: 2px;
    margin: 2px;
    border: 0;
    color: red;
    display: flex;
}

.btn-eliminar:hover {
    width: 25%;
}

.btn-eliminar img {
    width: 60%;
    margin: auto;
}

.contRack {
    overflow: scroll;
    height: 53vh;
}


/*------------------------------------------------------------------------------------------------------INICIO DE ADICIONAL2 - SUSCRIPCIÓN*/


/*------------------------------------------------------------------------------------------------------FIN DE ADICIONAL2 - SUSCRIPCIÓN*/


/*------------------------------------------------------------------------------------------------------INICIO DE FOOTER*/

.foot {
    background: #111;
    height: auto;
    width: 100%;
    color: #fff;
    padding-bottom: 10px;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    text-align: center;
}

.footer-content p {
    font-size: 100px;
    font-style: italic;
}

.logo-foot {
    width: 10%;
    margin: 5px 0px 5px 20px;
}

.banner-foot {
    width: 100%;
}

.footer-content p {
    width: 60%;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
    color: #cacdd2;
}


/* BARRA DE NAVEGACIÓN*/

.socials {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    border-top: 1px solid white;
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin-bottom: 5px;
    padding-top: 5px;
}

.socials a {
    text-decoration: none;
    color: #fff;
}

.socials a {
    font-size: 0.8rem;
    width: 20%;
    transition: color .4s ease;
}

.socials li:not(:last-child) {
    border-right: 1px solid white;
    padding-right: 5%;
}

.socials a:hover {
    color: rgb(44, 193, 219);
}


/*------------------------------------------------------------------------------------------------------FIN DE FOOTER*/


/*------------------------------------------------------------------------------------------------------INICIO DE @MEDIA QUERIES - 900PX*/

@media (max-width: 900px) {
    /*-----------------NAVBAR - MAIN ---------------*/
    .logo img {
        width: 100px;
        margin-left: 0px;
    }
    .menu ul {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
        margin-right: 3px;
    }
    .menu ul li:not(:last-child) {
        margin-right: 7px;
    }
    .menu ul li a {
        color: white;
        font-size: 10px;
    }
    .menu #sesion {
        background-color: rgb(44, 193, 219);
        padding: 7px 5px 10px 5px;
        border-radius: 10px;
        font-size: 10px;
    }
}


/*------------------------------------------------------------------------------------------------------FIN DE @MEDIA QUERIES - 900PX*/


/*------------------------------------------------------------------------------------------------------INICIO DE @MEDIA QUERIES - 500PX*/

@media (max-width:700px) {
    .footer-menu ul {
        display: flex;
        margin-top: 10px;
    }
    /*-----------------TITULO - MAIN ---------------*/
    /*-----------------FORMULARIO - MAIN ---------------*/
    /*-------------SUSCRIPCIÓN------------------*/
    .inicio {
        width: 100vw;
    }
    .general {
        width: 100vw;
        display: flex;
        flex-direction: column;
    }
    .ingreso {
        width: 100%;
        margin-bottom: 20px;
    }
    #formulario {
        width: 100%;
        font-size: 12px;
    }
    .tbl-ingreso {
        width: 100%;
    }
    .mostrador {
        width: 100%;
        font-size: 12px;
    }
}


/*------------------------------------------------------------------------------------------------------FIN DE @MEDIA QUERIES - 500PX*/