body {
    margin: auto;
    position: absolute;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*------------------------------------------------------------------------------------------------------INICIO DE HEADER - NAVEGADOR*/


/* NAVEGADOR*/

.inicio {
    height: 100%;
    background-image: url("https://cdn.euroinnova.edu.es/img/subidasEditor/almacen01-1635977695.webp");
    background-position: center;
    width: 100wh;
    background-repeat: no-repeat;
    background-size: cover;
}

.malla {
    background-color: rgba(0, 0, 0, 0.166);
}

.caja-top {
    border-bottom: 1px solid rgba(255, 255, 255, 0.329);
    box-shadow: 0 0 8px rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.889);
}

.contenedor {
    width: 100%;
    margin: auto;
}

.caja-top .contenedor {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 80px;
}

.menu ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-right: 25px;
}

.menu ul li:not(:last-child) {
    margin-right: 50px;
}

.menu ul li a {
    color: white;
    text-decoration: none;
    letter-spacing: 1px;
    font-size: 20px;
}

.menu #sesion {
    background-color: rgb(44, 193, 219);
    padding: 7px 7px 10px 7px;
    border-radius: 10px;
}

.menu ul li a:hover {
    color: rgb(69, 121, 130);
    text-decoration: underline 5px;
}

.menu #sesion:hover {
    background-color: rgb(44, 193, 219);
    color: rgb(0, 0, 0);
    border-radius: 10px;
    text-decoration: none;
}


/*------------------------------------------------------------------------------------------------------FIN DE HEADER - NAVEGADOR*/


/*------------------------------------------------------------------------------------------------------INICIO DE GENERAL*/

.general {
    background-color: rgba(95, 158, 160, 0);
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.ingreso {
    background-color: rgba(222, 184, 135, 0);
    width: 59%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.mostrador {
    background-color: rgba(0, 191, 255, 0.321);
    width: 39%;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid rgb(32, 0, 108);
    border-radius: 10px;
}


/*------------------------------------------------------------------------------------------------------FIN DE GENERAL*/


/*------------------------------------------------------------------------------------------------------INICIO DE INGRESO DE FORMULARIO*/


/*----------------------------------TITULO PRINCIPAL*/

.titulo-principal {
    background-color: rgba(255, 228, 196, 0);
    display: flex;
    flex-direction: row;
}

.titulo {
    background-color: rgba(0, 255, 255, 0);
    width: 60%;
    margin: auto;
    text-align: end;
    color: black;
}

h1 {
    font-size: 35px;
}

.tl-logo {
    background-color: rgba(137, 43, 226, 0);
    width: 40%;
    text-align: center;
    margin: auto;
}

.tl-logo img {
    width: 20%;
}


/*----------------------------------TITULO PRINCIPAL*/

.ingreso-datos {
    background-color: rgba(255, 255, 255, 0.768);
    margin: 5px;
    padding: 5px;
    width: 100%;
    border-radius: 10px;
}

.formulario {
    background-color: rgba(158, 174, 176, 0);
    width: 98%;
    margin: auto;
    border-radius: 10px;
    padding: 20px;
}

.tbl-form {
    background-color: #cacdd200;
    width: 100%;
}

.nombre-form {
    width: 30%;
    text-decoration: solid;
    padding-left: 10px;
    padding-bottom: 5px;
}

.campo-form {
    width: 70%;
    padding-bottom: 5px;
}

#fm-producto {
    width: 90%;
}

#fm-serial {
    width: 80%;
}

.tbl-form-cont {
    background-color: #7a7f8500;
    width: 100%;
}

.nombre-form-cont {
    width: 30%;
    text-decoration: solid;
    padding-left: 10px;
    padding-bottom: 5px;
}

.campo-form-cont {
    width: 100%;
    padding-bottom: 5px;
}

#fm-mail {
    width: 80%;
}

#fm-fecha {
    width: 50%;
}

.tbl-foot {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
    border-top: 1px solid black;
}

.proveedor {
    width: 70%;
}

.tbl-footer {
    width: 100%;
    background-color: #3167bd00;
}

.nombre-form-prov {
    width: 30%;
    text-decoration: solid;
    padding-left: 10px;
    padding-bottom: 5px;
}

.campo-form-prov {
    width: 90%;
    padding-bottom: 5px;
}

#fm-proveedor {
    width: 80%;
}

.btn-form {
    background-color: rgba(255, 255, 255, 0);
    width: 30%;
    margin: auto;
    text-align: center;
}

#fm-btn {
    width: 90%;
    height: 33px;
    border-radius: 10px 1;
}


/*----------------------------------DATOS DE ESPECIFICACIONES*/

.parametros {
    background-color: rgba(255, 127, 80, 0);
    width: 100%;
    margin-top: 5px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.especificaciones {
    background-color: #5682ca;
    padding: 5px;
    width: 59%;
    box-shadow: 0 0 8px rgb(0, 0, 0);
}

.imagen {
    background-color: rgba(0, 255, 255, 0);
    width: 40%;
    border: 1px solid black;
    border-radius: 10px;
}

.tbl-form-especif {
    width: 100%;
}

.nombre-form-especif {
    width: 50%;
    text-decoration: solid;
    padding-left: 10px;
    padding-bottom: 5px;
}

.campo-form-especif {
    width: 50%;
    padding-bottom: 5px;
}

#pr-color,
#pr-tamaño,
#pr-bio {
    width: 80%;
}

.tbl-form-especif-img {
    width: 80%;
    margin: auto;
}

.campo-form-especif-img {
    background-color: rgba(250, 235, 215, 0.685);
    width: 60%;
    text-align: center;
}

.nombre-form-especif-img {
    width: 40%;
    text-align: center;
}

#pr-img {
    width: 80%;
    padding-bottom: 25px;
}


/*------------------------------------------------------------------------------------------------------FIN DE INGRESO DE FORMULARIO*/


/*------------------------------------------------------------------------------------------------------INICIO DE MOSTRADOR DE FORMULARIO*/


/*----------------------------------TITULO PRINCIPAL*/

.form-header {
    width: 100%;
    background-color: rgba(136, 140, 139, 0.718);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.tl-inv {
    width: 70%;
    text-align: center;
    color: black;
}

.btn-editar {
    width: 10%;
    background-color: rgba(255, 255, 255, 0);
    padding: 2px;
    margin: 2px;
    border: 0;
}

.btn-editar img {
    width: 70%;
}

.btn-eliminar {
    width: 10%;
    background-color: rgba(255, 255, 255, 0);
    padding: 2px;
    margin: 2px;
    border: 0;
}

.btn-eliminar img {
    width: 50%;
}


/*------------------------------------------------------------------------------------------------------FIN DE ADICIONAL - PROVEEDORES*/

#rack {
    background-color: cornflowerblue;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
}

#rack tr td {
    border: 1px solid;
    padding: 5px;
}

.botones-rack {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.contRack {
    overflow: scroll;
    height: 60vh;
}


/*------------------------------------------------------------------------------------------------------INICIO DE ADICIONAL2 - SUSCRIPCIÓN*/


/*------------------------------------------------------------------------------------------------------FIN DE ADICIONAL2 - SUSCRIPCIÓN*/


/*------------------------------------------------------------------------------------------------------INICIO DE FOOTER*/

.foot {
    background: #111;
    height: auto;
    width: 100%;
    color: #fff;
    padding-bottom: 10px;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    text-align: center;
}

.footer-content p {
    font-size: 100px;
    font-style: italic;
}

.logo-foot {
    width: 20%;
    margin: 5px 0px 5px 20px;
}

.banner-foot {
    width: 100%;
}

.footer-content p {
    width: 60%;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
    color: #cacdd2;
}


/* BARRA DE NAVEGACIÓN*/

.socials {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    border-top: 1px solid white;
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
    padding-top: 10px;
}

.socials a {
    text-decoration: none;
    color: #fff;
}

.socials a {
    font-size: 0.8rem;
    width: 20%;
    transition: color .4s ease;
}

.socials li:not(:last-child) {
    border-right: 1px solid white;
    padding-right: 10%;
}

.socials a:hover {
    color: rgb(44, 193, 219);
}


/*------------------------------------------------------------------------------------------------------FIN DE FOOTER*/


/*------------------------------------------------------------------------------------------------------INICIO DE @MEDIA QUERIES - 900PX*/

@media (max-width: 900px) {
    /*-----------------NAVBAR - MAIN ---------------*/
    .logo img {
        width: 100px;
        margin-left: 0px;
    }
    .menu ul {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
        margin-right: 3px;
    }
    .menu ul li:not(:last-child) {
        margin-right: 7px;
    }
    .menu ul li a {
        color: white;
        font-size: 10px;
    }
    .menu #sesion {
        background-color: rgb(44, 193, 219);
        padding: 7px 5px 10px 5px;
        border-radius: 10px;
        font-size: 10px;
    }
}


/*------------------------------------------------------------------------------------------------------FIN DE @MEDIA QUERIES - 900PX*/


/*------------------------------------------------------------------------------------------------------INICIO DE @MEDIA QUERIES - 500PX*/

@media (max-width:500px) {
    .footer-menu ul {
        display: flex;
        margin-top: 10px;
    }
    /*-----------------TITULO - MAIN ---------------*/
    .cont-video video {
        width: 100%;
        background-size: cover;
    }
    .main {
        flex-direction: column;
    }
    .tl-main {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin: 0;
        padding: 0;
    }
    .tl-main h1 {
        font-size: 20px;
        padding: 0;
    }
    #tl-principal {
        margin-top: 10px;
        padding: 0;
        font-size: 30px;
    }
    /*-----------------FORMULARIO - MAIN ---------------*/
    .cont-form {
        margin-top: 0;
        width: 100%;
    }
    #formulario {
        width: 95%;
        margin-bottom: 50px;
    }
    /*-------------SUSCRIPCIÓN------------------*/
    .tl-sus {
        font-size: 70px;
    }
    .suscripcion p {
        font-size: 20px;
    }
    .mail-sus {
        width: 85%;
        font-size: 20px;
    }
    .btn-sus {
        width: 50%;
    }
}


/*------------------------------------------------------------------------------------------------------FIN DE @MEDIA QUERIES - 500PX*/